#about {
	.wrapper {
	
		@include mobile {
			width:100%;
			padding:0 20px;
		}

		@include tablet {
			width:80%;
		}

		header {
			width:90%;
			margin:0 auto 40px;
			div {
				width:80px;
				border-top:1px solid $black;
				margin-top:10px;
			}
		}
	}

	.about-hero {
		margin-bottom:40px;
		height:500px;
		background:url('../../img/about/about.jpg') center center no-repeat;
		background-size:cover;
		img {
			transition:filter 2s ease;
		}
		&:hover {
			img {
				-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
			    filter: grayscale(100%);
			}
		}
	}

	.about-copy {
		display:flex;
		flex-wrap:wrap;
		width:80%;
		margin:0 auto;
		@include mobile {
			display: block;
			margin:0;
		}
		p {
			width:50%;
			padding-right:20px;
			@include line-height(21px);
			margin-bottom:20px;
			@include mobile {
				width:100%;
				padding:0;
			}
		}
	}
}