#about {
	.wrapper {
		width:75%;
		margin:0 auto;
		@include mobile {
			width:90%;
		}
		header {
			width:90%;
			margin:0 auto 40px;
			@include mobile {
				width:100%;
				padding:0 20px;
			}
			div {
				width:80px;
				border-top:1px solid $black;
				margin-top:10px;
			}
		}

	}

	.about-hero {
		margin-bottom:40px;
	}

	.about-copy {
		display:flex;
		flex-wrap:wrap;
		width:100%;
		margin:0 auto 40px;
		@include mobile {
			display: block;
			margin:0;
			width:100%;
			padding:0;
		}
		p {
			width:50%;
			padding-right:30px;
			@include line-height(21px);
			margin-bottom:20px;
			@include mobile {
				width:100%;
				padding:0;
			}

			&:nth-child(even) {
				padding-right:0;
			}
		}
	}
}