.strike {
  span {
    position: relative;
    display: block;
    cursor: pointer;
  }
  span:before, span:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    top: 50%;
    margin-top: -0.5px;
    background: $black;
  }
  span:before {
    left: -2.5px;
  }
  span:after {
    right: 2.5px;
    background: $black;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  span:hover:before {
    background: $black;
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  span:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
  }
}

.underline {
  position:relative;
}
.underline:before {
  content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -2px;
    left: 0;
    background-color: $black;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s
}

.underline:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1)
}

.underline.active:before {
  visibility: visible;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1)
}

@keyframes fadeInUp {
    0% {
        display: none;
        opacity: 0;
        transform:translateY(5%);
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
        transform:translateY(0);
    }
}
@keyframes fadeOutUp {
    0% {
        display: block;
        opacity: 1;
        transform:translateY(0);
    }

    // 1% {
    //     display: none;
    //     opacity: 1;
    // }

    100% {
        display: none;
        opacity: 0;
        transform:translateY(-5%);
    }
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}
@keyframes fadeInFromNoneUp {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
        transform:translateY(0);
    }
}