#films {
	padding-top:40px;
	header {
		text-align:center;
		h1 {
			margin:0;
			@include font-size(16px);
			font-weight:100;
		}
		span {
			border-top:1px solid $black;
			width:0;
			display:block;
			margin:10px auto 25px;
			transition:width 1s ease;

			&.grow {
				width:100px;
			}
		}
	}
}

.films-row {
	display:flex;
	flex-wrap:wrap;
	margin: 0 -8px;
	padding:0 5%;
	animation:fadeInFromNone 2.5s ease;
	@include mobile {
		display:block;
	}
	.film {
		width:calc(33.33% - 8px);
		margin:0 4px 8px;
		cursor:pointer;
		overflow:hidden;
		@include mobile {
			width:100%;
			margin: 0 0 6px;
		}

		img {
			transition:transform 1.5s ease;
		}
		&:hover {
			img {
				transform:scale(1.1);
			}
		}
	}
}

.top {
	width:calc(90% + 4px);
	margin:-4px auto 0; 
	height:50px;
	text-align:center;
	justify-content:center;
	color:$black;
	display:flex;
	align-items:center;
	cursor:pointer;
	@include mobile {
		width:100%;
		margin: 0;
		height:40px;
	}
	span {
		transition:transform 1s ease;
	}
	&:hover {
		span {
			transform: translateY(-10px);
		}
	}
	
}