.video-wrapper {
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	width:100%;
	height:100%;
	background-color:rgba(255,255,255,1);
	transition: background-color 0.5s ease;
	display:none;
	&.show {
	animation:fadeInFromNone 1s ease;	
	display:block;
	}
	&.lights-off {
		background-color:rgba(0,0,0,1);
	}
	.video-container {
		position:relative;
		display:flex;
		align-items:center;
		justify-content:center;
		height:100%;
		width:100%;
		opacity: 0;
	    transition:opacity 1s ease;
        max-width: 1800px;
	    margin: 0 auto;
		&.show {
			opacity:1;
		}
		@include tablet {
			padding:100px 90px 0; 
		}
		@include mobile {
			padding:80px 20px 0;
		}

		.bulb {
		    position: absolute;
		    right: 40px;
		    top: 20px;
		    color: $black;
		    z-index: 20;
			cursor:pointer;
			font-size:26px;
			transition:color 0.5s ease;
		    .lights-off {
		    	color:#5E6777;
		    }
		    &:hover {
		    	color:#5E6777;
		    }

		    @include mobile {
		    	display:none;
		    }
		}
	}

	.video-player {
		position:relative;
		width:65%;
		.close {
			position:fixed;
			left: 20px ;
		    top: 20px;
		    color:$black;
		    cursor:pointer;
		    transition:color 0.5s ease, transform .4s ease;
		    font-size:22px;
		    &.lights-off {
		    	color:white;
		    }
		    &:hover {
		    	transform: rotate(90deg);
		    }

			@include mobile {
				right:0;
				font-size:22px;
			}
		}
	}
}