#work {
	padding-top:40px;
	@include mobile {
		padding-top:50px;
	}
}
.work-hero {
	height: 30vw;
	width: 100%;
	overflow: hidden;
	
	img {
		object-fit: cover;
		height: 100%;

		&.hide {
			display: none;
		}
	}
}
.work-header {
	padding:0 4%;
	width:100%;
	margin-bottom:50px;
	ul {
		display:flex;
		align-items:center;
		justify-content:center;
		li {
			cursor:pointer;
			&.active {
				font-weight: 700;
				
			}
			&:first-child  {
				margin-right:10px;
			}
			&:last-child  {
				margin-left:10px;
			}
			
		}
	}
}
.works-grid {
	display:flex;
	flex-wrap:wrap;
	margin: 0 -7px;
	padding: 0 4%;
	animation:fadeInFromNone 2.5s ease;

	&.sorted {
		.thumbnail,.thumbnail.wide,.thumbnail.square {
			width: calc(33.33% - 15px);

			@include mobile {
				width: 100%;
			}
		}
	}

	.thumbnail {
		height: 22vw;
		margin:0 7px 15px;
		cursor:pointer;
		overflow:hidden;
		transition: all 1s ease;
		position:relative;
		width: 33.33%;
	
		@include mobile {
			width:100%;
			margin: 0 0 6px;
			height: auto;
			&:last-child {
				margin:0;
			}
		}
		&:hover {
			.title {
				opacity:1;
			}
		}
		
		&.hide {
			opacity:0;
			transform: translateY(5%);
			display:none;
		}
		&.show-up {
			animation:fadeInFromNoneUp .5s ease;
		}
		&.wide {
			width: calc(60% - 15px);
			@include mobile {
				width: 100%;
			}
		}
		&.square {
			width: calc(40% - 15px);
			@include mobile {
				width: 100%;
			}
		}
		img {
			height:100%;
			object-fit: cover;
		}
		.title {
			position:absolute;
			background-color:rgba(0,0,0,0.7);
			color:white;
			top:0;
			left:0;
			right:0;
			bottom:0;
			display:flex;
			align-items:center;
			justify-content:center;
			flex-direction:column;
			width:100%;
			height:100%;
			opacity:0;
			padding: 0 5px;
			transition:opacity 0.4s ease;
			h4,h6 {
				color:inherit;
				text-align:center;
				margin:0;
				text-transform: uppercase;
			}

			h4 {
				font-size:3vw;
			}

			h6 {
				font-size:.75vw;
			}
		}
	}
}